@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
:root {
  --title: #fffcf9;
  --subtitle: #b3b3b3;
  --bg-button: #e9e6e3;
  --background: linear-gradient(43deg, #102d71 0%, #000000 52%, #c12a23 100%);
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  background: var(--background);
  height: 100vh;
  color: var(--title);

  display: flex;
}
.query-movie {
  max-width: 630px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-topo {
  width: 87px;
  height: 63px;
}
.title-initial {
  font-size: 40px;
}

.container-movie {
  margin-top: 30px;
  gap: 30px;
  display: none;
}
.container-movie .img-movie {
  width: 171px;
  height: 243px;
}
.container-movie .title-movie,
.container-movie .overview-movie {
  width: 423px;
  text-align: left;
}
.container-movie .overview-movie {
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}
.btn-query {
  width: 181px;
  height: 47px;
  margin-top: 30px;

  cursor: pointer;

  font-size: 12px;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.btn-query img {
  width: 35px;
  height: 25px;
}

.instruction {
  margin-top: 35px;
  font-size: 14px;
  max-width: 381px;
}

.not-found {
  display: flex !important;
  max-width: 630px;
  align-items: center;
  gap: 30px;
}
.not-found h3 {
  width: 423px;
  padding-right: 45px;

}


@media screen and (max-width: 768px) {
  .main {
    padding: 50px 15px 150px; 
  }
  .container-movie {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .container-movie .title-movie{
    text-align: center;
  }
  .instruction{
    font-size: 12px;
  }
}